:root {
    --primary : #2980B9;
    --bg : #EAEDED;
    --sekunder : #1F618D;
    --light : #EEBA2B;
    --text : #2C3E50;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', serif;
    background-color: var(--bg);
    color: var(--text);
    background-image: url(../images/background.png);
    background-repeat: repeat;
    /* min-height: 2000px; */
}

/* Navbar */
.header-nav-phil {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.navbar-phil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5% 0.5em;
    background-color: var(--sekunder);
    border-bottom: 1px solid var(--primary);
    z-index: 9999;
}

.navbar-logo-phil img{
    height: 3.5em;
}

.navbar-phil .navbar-nav-phil a{
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    margin: 0 0.6rem;
    text-decoration: none;
}

.navbar-phil .navbar-nav-phil a:hover {
    color: var(--light);
}

.navbar-phil .navbar-nav-phil a::after {
    content: '';
    display: block;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid var(--light);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar-phil .navbar-nav-phil a:hover::after {
    transform: scaleX(0.5);
}

.navbar-phil .navbar-extra-phil a {
    color: white;
    margin: 0 0.5em;
    font-size: 1.4em;
}

.navbar-phil .navbar-extra-phil a:hover {
    color: var(--light);
}

#hamburger-menu {
    display: none;
}

/* shopping cart */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 32em;
    padding: 0 1.5em;
    color: var(--bg);
    background-color: var(--primary);
    transition: 0.4s linear;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2em 0;
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px dashed var(--sekunder);
    position: relative;
}

.shopping-cart img {
    height: 6em;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1.6em;
    padding-bottom: 0.5em;
}

.shopping-cart .item-price {
    font-size: 1.2em;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 1em;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
    color: var(--light);
}

.countdown-nav-phil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    background-color: var(--primary);
    border-bottom: 1px solid var(--sekunder);
    z-index: 9999;
}

.countdown-nav-phil #countdown {
    font-size: 1em;
    font-weight: bold;
    color: var(--text);
}

.alert {
    padding: 0 1rem;
    margin: 1rem 0;
    text-align: justify;
    background-color: rgba(64, 196, 30,.7);
    border: 0.7px solid white;
    border-radius: 5px;
    width: 100%;
    max-width: 576px;
    color: var(--text);
    font-size: 1em;
    text-shadow: none;
}

.page-phil {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(85vh, auto));
    justify-content: center;
}

.satu-page {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 87vh;
    gap: 1em;
    margin: 6em 0 0;
}

.dua-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 85vh;
    gap: 1em;
    margin: 6em 0 0;
}

.tiga-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 85vh;
    gap: 1em;
    margin: 6em 0 0;
}

.empat-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 85vh;
    gap: 1em;
    margin: 6em 0 0;
}

.footer-page {
    min-height: 100px;
    height: max-content;
    margin-top: 0.5em;
}

.layout-contents {
    display: grid;
    margin: 1em;
    background-color: var(--light);
    justify-content: center;
    align-items: center;
}

.layout-subcontents {
    display: grid;
    margin: 0.5em;
    background-color: var(--bg);
    justify-content: center;
    align-items: center;
}

.card {
    margin: 1em;
    padding: 1em;
    background-color: var(--bg);
    border-radius: 10px;
}

/* Home */
.satu-page.area-hero {
    background-image: url(../images/logo_transparan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.layout-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    grid-template-areas: 'judul judul'
    'waktu pembicara'
    'tema tema';
}
.judul-hero {
    grid-area: judul;
    height: 92%;
}

.judul-hero h3 {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    padding-top: 1em;
    font-size: 1.45em;
}

.waktu-hero, .pembicara-hero {
    height: 92%;
    width: 100%;
    max-width: 450px;
    min-width: 360px;
    height: max-content;
    padding: 0.5em;
    font-family: "EB Garamond", serif;
    color: var(--sekunder);
}

.waktu-hero {
    grid-area: waktu;
    justify-self: right;
    padding-left: 2em;
}

.waktu-hero h3, .pembicara-hero h3, .tema-hero h3 {
    color: var(--text);
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.waktu-hero h3 {
    text-align: left;
}

.waktu-hero .isi-waktu h4 {
    font-size: 1.5em;
}
.waktu-hero .isi-waktu span {
    display: inline-block;
    width: 6em;
}

.pembicara-hero {
    grid-area: pembicara;
}

.pembicara-hero h4 {
    text-align: center;
    font-size: 1.5em;
}
.pembicara-hero div {
    height: 11em;
    width: auto;
    text-align: center;
    margin-bottom: 0.5em;
}

.pembicara-hero div img {
    height: 100%;
}

.tema-hero {
    grid-area: tema;
    height: 92%;
    width: 90%;
    justify-self: center;
    min-width: 360px;
    height: max-content;
    padding: 0.5em;
    font-family: "EB Garamond", serif;
    color: var(--sekunder);
}

.tema-hero h4 {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

/* Registrasi */
.layout-contents.area-registrasi {
    background-image: url('../images/registrasi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 1em 0;
    background-color: transparent;
    grid-template-columns: minmax(360px, 576px);
}

.layout-contents.area-registrasi .form-registrasi {
    font-family: 'Rowdies', serif;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    text-align: center;
    font-size: 1,2em;
    padding: 2em;
    margin: 0 1em;
    border: 2px solid var(--sekunder);
    border-radius: 0.6em;
    background-color: var(--primary);
    box-shadow: 0 0 0.6em rgba(0, 0, 0, .1);
    background-image: url('../images/registrasi-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px var(--primary), -1px -1px var(--primary);
}

.form-registrasi h1 {
    font-size: 2em;
    margin-bottom: 1em;
}
.form-registrasi .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.form-group.with-checkbox {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 'label input'
    'label checkbox';
    margin-bottom: 2.3em;
}

.form-group.with-textarea {
    position: relative;
}

.form-group.with-textarea span {
    position: absolute;
    right: 0.4em;
    bottom: 0.4em;
    color: black;
    font-size: 0.8em;
    text-shadow: none;
}

.form-group.with-checkbox label {
    grid-area: label;
}

.form-group.with-checkbox input[type="text"], .form-group.with-checkbox textarea {
    grid-area: input;
    width: 100%;
}

.form-group.with-checkbox .checkbox {
    grid-area: checkbox;
    position: relative;
}

.form-group.with-checkbox .checkbox input[type="checkbox"] {
    position: absolute;
    width: 1.5em;
    left: 0;
    top: 0.7em;
    cursor: pointer;
}

.form-group.with-checkbox .checkbox label {
    position: absolute;
    left: 2.6em;
    top: 2px;
    width: 92%;
    cursor: pointer;
    text-shadow: none;
    font-size: 0.7em;
}

.form-registrasi .form-group label {
    width: 20%;
    text-align: left;
    mix-blend-mode:hard-light;
}

.form-group input, .form-group select, .form-group textarea {
    width: 75%;
    padding: 0.5em;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

input:hover, textarea:hover, select:hover {
    border: 1px solid var(--light);
    box-sizing: border-box;
}

.form-registrasi button {
    background-color: var(--primary);
    color: white;
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    border: 2px solid var(--bg);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 1.2em 0;
}

.form-registrasi button:disabled {
    background-color: #98c0da;
    color: #666;
    cursor: not-allowed;
}

.form-registrasi button:hover {
    background-color: var(--light);
}
#gerejaLain {
    display: none;
}

.active#gerejaLain {
    display: flex;
}

.note-registrasi {
    background-color: rgba(234, 237, 237, 0.5);
    border-radius: 5px;
    padding: 0.5em 1em;
    color: var(--text);
    text-shadow: none;
}

.note-registrasi p {
    text-align: justify;
}

.layout-contents.area-tabel-verifikasi {
    background-image: url('../images/shop/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    align-items: start;
    background-color: transparent;
}

.layout-contents.area-tabel-unverifikasi {
    background-image: url('../images/shop/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    align-items: start;
    background-color: transparent;
}

.layout-contents.area-tabel-summary {
    background-image: url('../images/shop/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    align-items: start;
    background-color: transparent;
}

/* Usaha dana */
.produk-preorder {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    height: max-content;
    padding-top: 1em;
}

.produk-preorder .produk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-content: space-evenly;
    row-gap: 1em;
}

.produk-preorder .produk-grid .produk {
    display: grid;
    grid-template-columns: 340px;
    margin: 0 0.5em;
    justify-content: center;
    height: 420px;
}

.produk-preorder .produk-grid .produk .wadah-produk {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 280px auto;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--primary);
    border-radius: 10px;
    position: relative;
}
.produk-preorder .produk-grid .produk .wadah-produk:hover {
    border: 2px solid var(--primary);
}

.wadah-produk .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    gap: 1.3em;
}

.wadah-produk .icon a {
    color: var(--text);
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.wadah-produk .icon a:hover {
    background-color: var(--light);
    border: 1px solid var(--light);
}

.wadah-produk .gambar {
    display: flex;
    width: 280px;
    height: 280px;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.wadah-produk .deskripsi {
    width: 280px;
    padding-top: 0.5rem;
    justify-self: center;
    color: var(--light);
}
.wadah-produk .deskripsi h5 {
    text-shadow: 1px 1px var(--text);
}
.wadah-produk .deskripsi .harga {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.3rem;
    color: var(--text);
}

.wadah-produk .deskripsi .button-beli {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.2rem;
}

/* area footer */
.layout-contents.area-footer {
    margin: 2em 0 0;
    background-color: var(--primary);
    font-size: 1.2em;
}

/* modal box */
/* Item detail */
/* .modal {
    display: flex;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .6);
}

.modal-container {
    position: relative;
    background-color: #EAEDED;
    color: var(--text);
    margin: 15% auto;
    padding: 1.2em;
    border: 1px solid var(--sekunder);
    width: 80%;
}

.modal-container .close-icon {
    position: absolute;
    right: 1.2em;
} */

/* default tabel dari philander */
.phil-container {
    display: grid;
    grid-template-columns: minmax(360px, 992px);
    place-content: center;
    padding: 0.5rem;
    row-gap: 0.5rem;
    font-size: 1rem;
}
.phil-container h4{
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

.phil-tabel {
    display: grid;
    grid-template-columns: minmax(360px, 992px);
    place-content: center;
    row-gap: 0.5rem;
    grid-template-areas: 'search'
        'tabel'
}
.phil-tabel .search {
    display: grid;
    grid-area: search;
    grid-template-columns: 60px 139px;
    column-gap: 0.3rem;
    place-items: center start;
    margin: 0px 0.5rem;
    box-sizing: border-box;
}
.phil-tabel .filter-select {
    grid-template-columns: 60px 139px 139px;
}
.phil-tabel .tabel {
    display: grid;
    grid-area: tabel;
    grid-template-columns: 1fr;
    margin: 0px 0.5rem;
    box-sizing: border-box;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1399.98px) {
    .header-nav-phil, .page-phil, .footer-page{
        font-size: 95%;
    }
}

/* Tablet */
@media (max-width: 991.98px) {
    .header-nav-phil, .page-phil, .footer-page{
        font-size: 85%;
    }

    #hamburger-menu {
        display: inline-block;
        cursor: pointer;
    }

    .navbar-phil .navbar-nav-phil {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30em;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar-phil .navbar-nav-phil.active {
        right: 0;
    } 

    .navbar-phil .navbar-nav-phil a {
        display: block;
        margin: 0.5em;
        padding: 0.5em;
        font-size: 1.5em;
    }

    .navbar-phil .navbar-nav-phil a::after {
        transform-origin: 0 0;
    }

    .navbar-phil .navbar-nav-phil a:hover::after {
        transform: scaleX(0.3);
    }

    .tiga-page {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'verifikasi unverifikasi'
        'summary summary';
    }

    .layout-contents.area-tabel-verifikasi {
        grid-area: verifikasi;
        height: 85vh;
    }

    .layout-contents.area-tabel-unverifikasi {
        grid-area: unverifikasi;
        height: 85vh;
    }

    .layout-contents.area-tabel-summary {
        grid-area: summary;
        height: 85vh;
    }
}

/* Mobile Phone Landscape */
@media (max-width: 767.98px) {
    .header-nav-phil, .page-phil, .footer-page{
        font-size: 80%;
    }

    .layout-hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        grid-template-areas: 'judul'
            'waktu'
            'pembicara'
            'tema';
    }

    .waktu-hero, .pembicara-hero {
        justify-self: center;
    }

    .waktu-hero h3 {
        text-align: center;
    }
}
/* Mobile phone */
@media (max-width: 575.98px) {
    .header-nav-phil, .page-phil, .footer-page {
        font-size: 70%;
    }
    .dua-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 85vh;
        gap: 1em;
        margin: 6rem 0 0;
    }
    
    .tiga-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'verifikasi'
        'unverifikasi'
        'summary';
    }
    
    .empat-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        min-height: 85vh;
        gap: 1em;
        margin: 6em 0 0;
    }

    .layout-contents.area-tabel-verifikasi {
        height: 85vh;
    }

    .layout-contents.area-tabel-unverifikasi {
        height: 85vh;
    }

    .layout-contents.area-tabel-summary {
        height: 85vh;
    }

    .phil-container {
        margin: 0;
        padding: 0;
    }
}







